@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after{
  clear: both;
}
img{
  border: none;
}
/* body{
  width: 1440px;
  margin: 0 auto;
} */
.contenitore{
  font-family: 'Open Sans', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  color: rgba(112, 112, 112, 0.77);
  
}
#slide_principal{
  min-height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.home__slide{
  background-image: url(../img/sea.jpg);
}

.main_menu{
  width: 1200px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  
  z-index: 4;
  border-radius: 7px;
  top: 10px;
  
 
}
/* .out{

  top: 10px;

} */
.main li{
  float: left;
  width: 14%;
  text-align: center;
  position: relative;
  list-style-type: none;
  margin: 0 1px;
}
.main_ancore img{
  display: block;
  margin: 0 auto
}
.main_ancore{
  display: block;
  height: 100px;
  line-height: 100px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  transition: all 1s;
  border-radius: 7px;
  color: rgba(83, 83, 83, 0.75);

  font-size: 16px;
}
.sfondo{
  background: rgba(127, 211, 211, 0.75);
  
}

.main_ancore_background{
  background: rgba(81, 134, 175, 0.863);
  color: #fff;
  transform: translateY(10px)
}
.sub{
  position: absolute; 
  margin-top: 15px;
  max-height: 0;
  overflow: hidden;
  transition: all 1s;
  
}
.sub li{
  width: 100%;
  margin: 8px 0;
}
.sub_ancore{
  display: block;
  min-height: 40px;
  background: rgba(127, 211, 211, 0.75);
  line-height: 40px;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 1s;

}  
.sub_ancore:hover{
  background: rgba(81, 134, 175, 0.822);
  color: #fff;
  transform: translateY(5px)
}
.menu_visible{
max-height: 400px;
}
.restaurant__menu li a{
color: rgba(255, 255, 255, 0.7);

}


.social_fixed{
  position: fixed;
  right: 10px;
  top: 150px;
  background-color: #345974;
  z-index: 1;
  text-align: center;
  border-radius: 5px;

}
.fix{
  padding: 10px;
  font-size: 1.3em;
}
.social_fixed a{
  color: #ffffff;
  display: block;
  padding-bottom: -10px; 
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
}
.social_fixed a img{
  display: block;
  padding: 10px;


}
.social_fixed a:hover{
  background-color: #7FD3D3;
  transform: translateX(-10px) translateY(5px);
  border-radius: 4px;
}
h1{
  font-size: 100px;
  margin-left: 20%;
  padding-top: 300px;
  text-transform: uppercase;
  font-weight: lighter;
  font-style: italic;
  margin: 0 auto;
  text-align: center;
}
#slide_principal p{
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 30px;
  margin-left: 50%;
  margin-top: -10px;
}
.home__slide h1,.home__slide p{
  color: rgba(112, 112, 112, 0.77);
}
#booking{
  min-height: 100px;
}
.riquadro_prenotazioni{
  height: 70px;
  
  background-color: #7FD3D3;
  margin: 0px auto;
  position: relative;
  border-radius: 5px;
  transition: all 0.8s ease;
}
.stanze_albergo{
  width: 900px;
}
#booking:hover .riquadro_prenotazioni{
  margin: -30px auto;

}
.prenotazioni_input{
  height: 30px;
  width: 140px;
  margin: 20px 30px;
  border: none;
  border-radius: 3px;
  color: rgba(112, 112, 112, 0.77);
  font-family: 'Open Sans', sans-serif;
}
.riquadro_prenotazioni input[type="submit"]{
  float: right;
  margin-left: 10px;
  margin-top: 0;
  height: 100%;
  background-color: #345974;
  font-size: 25px;
  font-weight: lighter;
  color: #D4D4D4;
  border: 0;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  border-radius: 5px;
  position: absolute;
  width: 140px;
}

.cerca_moove{
  color: #7FD3D3;
  cursor: pointer;
  transform: translateX(15px);

}
#chef{
  min-height: 500px;
}
.box_description{
  /* min-height: 400px; */
  padding-top: 40px;
  padding-bottom: 40px;
}
.riquadro_immagine, .riquadro_testo{
  width: 500px;
  height: 370px;
  border-radius: 5px;
}
.riquadro_testo {
  
  position: relative;
  transition: all 0.7s ease;
}
.riquadro_testo_shadow{
  -webkit-box-shadow: 0px 0px 36px -10px #000000;
  -moz-box-shadow: 0px 0px 36px -10px #000000;
  -o-box-shadow: 0px 0px 36px -10px #000000;
  box-shadow: 0px 0px 36px -10px #000000;
  transform: scale(1.005);
}


.dx{
  float: right;
  margin-right: 50px;
}
.sx{
  float: left;
  margin-left: 50px;
}
h2{
  font-weight: lighter;
  font-size: 40px;
  margin-left: 40px;
  padding-top: 20px; 
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
}
h2::after{
  content: '';
  display: block;
  height: 5px;
  width: 0;
  background: transparent;
  transition: width 1s ease, background-color 1s ease;
  border-radius: 5px;
}
.riquadro_testo:hover h2::after{
  width: 100%;
  background: #7FD3D3;
}
.riquadro_testo p{
  margin: 30px 40px;
  font-size: 16px;
}
.ancora_testo {
  display:inline-block;
  padding: 0 20px;
  height: 40px;
  min-width: 120px;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  text-decoration: none;
  position: relative;
  color: #345974;
  transition: all .6s ease;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;   
  font-family: 'Open Sans', sans-serif;
  border-radius: 7px;
  border: 2px solid #345974;
  float: right;
  margin-right: 20px;
}
.ancora_testo::after{
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0da";
  opacity: 0;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s; 
  position: absolute;
  right: 8px;
  top: 1px;
}
.ancora_testo:hover{
  padding-right: 25px;
  padding-left: 15px;
  background-color: #345974;
  color: #fff;
}
.ancora_testo:hover::after{
  opacity: 1;
  color: #fff;
}

.immagine_destra{
  max-width: 100%;
  border-radius: 5px;
}
.riquadro_testo ul{
  margin-left: 30px;
  font-family: 'Lato', sans-serif;
}
.riquadro_testo li{
  font-size: 16px;
  margin: 15px 20px;
  list-style-position: inside;
  list-style-image: url(../img/punto_lista_blu.png);
}
#chef_passione{
  min-height: 600px;
  padding-top: 80px;
}
.slide{
  height: 500px;
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
}
.one{
  background-image: url(../img/gnocca_pool.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
.riquadro_blu {
  width: 350px;
  height: 450px;
  margin-top:25px;
  background-color: #7FD3D3; 
  position: absolute;
  color: rgba(255, 255, 255, 0.78);
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  transition: all 1s;
  display: table;


}
.rbd{
  transform: translateX(-100%);
}
.rbs{
  right: 0;
  transform: translateX(100%);
}
.slide_out_rbd{
  transform: translateX(120vh);
  
}
.slide_out_rbs{
  transform: translateX(-120vh); 
}
.riquadro_blu_testo{
  height: 450px;
  width: 350px;
  display: table;
  transform: translateY(-100vh);
  transition: all 1.5s ease;
  

}
h3{
  text-transform: uppercase;
  font-weight: lighter;
  font-style: italic;
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
  transition: all 0.5s ease;
  

}
.slide_out_title{
  transform: translateY(0vh);
}
.riquadro_blu h3{
  padding: 0 85px;
}


.two{
  background-image: url(../img/sauna.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.vertical{
  margin-top: 50px;
  margin-bottom: 30px;
  position: relative;
}
.sky{
  width: 50%;
  float: left;
}
.sky img{
  max-width: 100%;
}
/* .pool{
  float: left;
}
.resort{
  float: right;
} */
.three{
  position: relative;
  background-image: url(../img/chef.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cucina h3{
  font-size: 30px;
}
.cucina img{
  margin-top: 24%;
}

.riquadro_immagine_show{
  left: 50%;
}
.tris{
  border-radius: 5px;

}
.four{
  position: relative;
  background-image: url(../img/pool-wave.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.testimonianze_contenitore{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  width: 200px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  margin: 0 auto;
  
}

.testimonianze_contenitore p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 0 60px;
  
}
.testimonianze_contenitore img{
  display: block;
  margin: 0 auto 20px;
}
.testimonianze_contenitore span{
  color: rgba(255, 255, 255, 0.78);
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  display: block;
  position: relative;
}
.testimonianze_contenitore span::after{
  content: '';
  height: 4px;
  width:40px;
  border-radius:2px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -20px;
  transition: all 0.5s ease;
}
.points{
  bottom: 20px;
  font-size: 10px;
  left: 50%;
  text-align: center;
  margin-top: 30px;
}
.points a {
  color: rgba(112, 112, 112, 0.77);
}
.points a:hover{
  color: rgba(255, 255, 255, 0.78);
}
.five{
  position: relative;
  background-image: url(../img/vista.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.newsletter_contenitore{
  display: table-cell;
  vertical-align: middle;
}
.newsletter_title{
  padding-top: 0;
  padding-bottom: 0;
}
.newsletter_title::after{
  content: '';
  display: block;
  margin-bottom: 40px;
  height: 5px;
  width: 0;
  background: transparent;
  transition: width 1s ease, background-color 1s ease;
  border-radius: 5px;
}
.riquadro_blu_testo:hover .newsletter_title::after{
  width: 100%;
  background: #345974;
}

.newsletter_text{
  margin-left: 40px;
  
}
.newsletter_form{
  width: 80%;
  margin: 0 auto;
  
}
.newsletter_form input{
  width: 90%;
  margin-top: 20px;
  height: 30px;
  border-radius: 3px;
  border: none;
  padding: 0 5%;

}
.newsletter_form input[type="submit"]{
  width: 100%;
  height: 40px;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  background-color: #345974;
  border-radius: 5px;
  color: #fff;
}
.newsletter_form input[type="submit"]:hover{
  background-color: #fff;
  color: #7FD3D3;
  cursor: pointer;
} 


.follow_us{
  max-height: 90px;
  text-align: center;
}

.follo_us_social{
  width: 400px;
  margin: 0 auto 20px;
}
.follow_us_social_icon{
  color: #345974;
  font-size: 40px;
  margin: 20px 20px;
  transition: all .6s;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  display: block;
  height: 50px;
  float: left;
  line-height: 50px;
  width: 50px;
  padding: 5px;
}
.follo_us_social:hover .follow_us_social_icon {
  color: #fff;
  background-color: #7FD3D3;
  transform: translateX(-10px) translateY(-10px);
  border-radius: 6px;
}

footer{
  position: relative;
}

iframe{
  width: 100%;
}
#contenitore_contatti{
  position: absolute;
  color: rgba(255, 255, 255, 0.78);

}
.contenitore_contatti_paragrafo h2{
  margin-top: -40px;
}
.contenitore_contatti_paragrafo h2::after{
  content: '';
  display: block;
  margin-bottom: 40px;
  height: 5px;
  width: 0;
  background: transparent;
  transition: width 1s ease, background-color 1s ease;
  border-radius: 5px;
}
#contenitore_contatti:hover .contenitore_contatti_paragrafo h2::after{
  width: 100%;
  background: #345974;
}
.contenitore_contatti_paragrafo img{
  margin-left: 30px;
  margin-top: 40px;
}
.contenitore_contatti_paragrafo p{
  margin-left: 85px;
  font-size: 1.1em;
  margin-bottom: 50px;

}
.contenitore_contatti_paragrafo ul{
  width: 300px;
  margin: auto;
}
.contenitore_contatti_paragrafo li{
  margin: 0 50px 20px;

}
.contenitore_contatti_paragrafo li a{
  color: rgba(255, 255, 255, 0.78);
  text-decoration: none;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
}
.contenitore_contatti_paragrafo li a:hover{
  color: #345974;
}
.contenitore_contatti_paragrafo{
  display: table-cell;
  vertical-align: middle;
}
#copyright{
  min-height: 80px;
  background-color: #345974;
  margin-top: 50
}
.copy{
  display: flex;
  line-height: 80px;
  justify-content: center;
  color: rgba(255, 255, 255, 0.78);
  font-family: 'Open Sans', sans-serif;
}
.copy p:first-child{
  margin-right: 200px;
}
/*fine index html*/
.fascia_cucina{
  margin-top: 50px;
}

.restaurant__slide{
  background-image: url(../img/acquario.webp);
}
.restaurant__slide h1, .restaurant__slide p {
  color: #fff;
}
.tavolo_ristorante{
  width: 500px;
}
.riquadro_scacco{
  width: 33.33%;
  height: 500px;
  float: left;
  display: table;
}
.immagine_scacco{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.immagine_scacco::after{
  content: '';
  background-color: #7fd3d380;
  height: 100% ;
  height: 100%;
  position: absolute;
  left: 0;
}

.pennette{
  background-image: url(../img/pennette.png);
}
.pizza{
  background-image: url(../img/pizza.jpg);
}
.vegan{
  background-image: url(../img/vegetariana2.png);
}
.vegan2{
  background-image: url(../img/vegan4.jpg);
}
.sushi2{
  background-image: url(../img/sushu2.png);
}
.sushi3{
  background-image: url(../img/sushi3.jpg);
}
.colazione{
  background-image: url(../img/colazione.png);
}
.colazione2{
  background-image: url(../img/cappuccino.jpg);
}
.paragrafo_scacco{
  min-width: 70%;
  font-family: 'Open Sans', sans-serif;
height: 100%;
  margin: 0 auto;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  
}
.paragrafo_scacco a{
  text-decoration: none;
}
.paragrafo_scacco a::after{
  content:attr(title);
  position: absolute;
  min-width: 150px;
  height: 40px;
  background-color: #345974;
  padding: 0 20px;
  text-align: center;
  line-height: 40px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.78);
  text-transform: uppercase;
  right:30px;
  bottom: 20px;
  transition: 0.5s;
  border-radius: 5px;
  
}
.paragrafo_scacco a:hover::after{
  background-color: #7FD3D3;
}

.immagine_scacco {
  z-index: 0.5;
}
.paragrafo_scacco h2{
  color: #7FD3D3;
  margin: 0;
  padding-left: 30px;
  position: relative;
}


.paragrafo_scacco p{
  padding: 30px;
  font-size: 16px;
  color: rgba(112, 112, 112, 0.77);
}

.sale_restaurant{
  width: 40%;
  height: 575px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: rgba(112, 112, 112, 0.77);
  
  float: left;
  width: 50%;
  display: table;
}
.incastro{
  position: absolute;
  bottom: 0;
}
.testo_sala{
  display: table-cell;
  vertical-align: middle;
  width: 80%;
  height: 80%;
  margin: 0 auto;
}
.testo_sala{
  width: 80%;
  height: 80%;
  margin: 10px auto ;
}
.testo_sala p{
  font-size: 1.5em;
}
.sala {
  margin-top: 45px;
}
.fornelli{
  background-image: url(../img/cucina.jpg);
  margin-top: 60px;
}
.chef_tony img{
  position: relative;
}
/*.chef_tony::after{
content: attr(title);
height: 50px;
width: 100px;
background: #7FD3D3;
position: absolute;



}*/
/******inizio stile stanze.html******/



.stanze__slide{
  background-image: url(../img/occhioni.jpg);
}
.stanze__slide h1, .stanze__slide p, .wellness__slide h1, .wellness__slide p{
  color: #fff;
}
.camera_suite1{
  background-image: url(../img/suite.jpg);
}
.camera_suite2{
  background-image: url(../img/suite2.jpg);
}

.camera_superior1{
  background-image: url(../img/vasca_suite.jpg);
}
.camera_superior2{
  background-image: url(../img/superior2.jpg);
}
.camera_classic1{
  background-image: url(../img/stanza_classic.jpg);
}
.camera_classic2{
  background-image: url(../img/classic2.jpg);
}
.vasca_gnocca{
  background-image: url(../img/gnocca_vasca.jpg);
  margin-top: 60px;
}
/******inizio stile well.html******/
.wellness__slide{
  background-image: url(../img/sassi.jpg);
}
.trat_turco1{
  background-image: url(../img/bagno_turco.jpg);
}
.trat_turco2{
  background-image: url(../img/bagnoturco2.jpg);
  background-position:0 0;
}
.trat_sauna1{
  background-image: url(../img/sauna2.jpg);
}
.trat_sauna2{
  background-image: url(../img/sauna3.jpg);
  background-position:0 0;
}
.trat_idro1{
  background-image: url(../img/idromassaggio.jpg);
}
.trat_idro2{
  background-image: url(../img/idro2.jpg);
}
.trat_well_room1{
  background-image: url(../img/vasca_personale.jpg);
}
.trat_well_room2{
  background-image: url(../img/wellnessroom2.jpg);
  
}
.tipa_sudata{
  background-image: url(../img/gnocca_sudata.jpg);
  margin-top: 60px;
}











